/* width */
.accordion ::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px 0 #c5c5c5;
  border-radius: 99px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c416d;
  border-radius: 99px;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ecac96;
}

.accordion {
  margin: auto;
  max-width: 900px;
}

.accordion-block {
  /* margin-bottom: 7px; */
  /* box-shadow: 0 0 5px 0 #afafaf; */
  border-radius: 5px;
  overflow: hidden;
}

.accordion .head {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #277c8b; */
  /* background: linear-gradient(to top left, #207e8f, #3c9eaf); */
  border-bottom: 1px solid #ccc;
  /* background-color: rgb(245, 245, 245); */
  transition: 0.3s;
  /* color: #fff; */
  padding: 15px 20px 15px 10px;
  font-size: 16px;
}

.accordion-block .head i {
  font-size: 17px;
  transition: 0.3s;
  margin-left: 20px;
  color: #666666;
}

.accordion-block .head p {
  font-weight: 500;
}

.accordion p {
  margin-bottom: 0;
}

.accordion-block .body {
  background-color: #fff;
  padding: 0px 10px;
  max-height: 0px;
  transition: 0.3s linear;
}

.accordion-block.accordion-active .body {
  max-height: 250px;
  padding: 10px 20px 30px 15px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}

.accordion-block.accordion-active .head {
  /* background: linear-gradient(to top left, #1e6f7e, #3590a0); */
  /* box-shadow: inset 0 0 10px 1px #14545f; */
  border-bottom: none;
  /* box-shadow: inset 0 -5px 10px 0 #ccc; */
}

.accordion-block.accordion-active .head p {
  /* background: linear-gradient(to top left, #1e6f7e, #3590a0); */
  /* box-shadow: inset 0 0 10px 1px #14545f; */
  border-bottom: none;
  /* box-shadow: inset 0 -5px 10px 0 #ccc; */
  color: #115888;
  font-weight: 600;
}

.accordion-block.accordion-active .head i {
  transform: rotate(90deg);
  transition: 0.5s;
}
