* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main: #0c416d;
  --grey: #3e4d61;
  --lightGrey: #d4d4d4;
  --green: #39b38e;
  --green2: #6ab7b7;
}

.footer {
  color: #fff;
  background: #0c416d;
  padding: 40px 60px 20px;
}

.footer-top-line {
  height: 5px;
  width: 100%;
  background: var(--green);
}

.footer a {
  text-decoration: none;
  transition: 0.3s;
}

.footer a:hover {
  color: var(--green);
}

.footer .footer-heading p {
  color: #fff;
  font-size: 19px;
  font-weight: 700;
}

.footer-links a {
  display: block;
  text-decoration: none;
  color: var(--lightGrey);
  transition: 0.3s;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer-links a:hover {
  margin-left: 8px;
  color: var(--green);
}

.footer-about {
  padding-right: 40px;
}

.footer-logo p {
  font-size: 30px;
  font-weight: 700;
}

.about-text p {
  font-size: 15px;
  color: var(--lightGrey);
}

.footer-contact {
  padding: 0 10px;
  color: var(--lightGrey);
  font-size: 15px;
}

.footer-contact a {
  color: var(--lightGrey);
}

.footer-contact span {
  color: #fff;
  font-weight: 500;
}

.social-links {
  margin-top: 40px;
}

.footer-social a {
  color: var(--lightGrey);
  font-size: 22px;
  margin-right: 15px;
}

.footer-divider {
  background-color: #001e47;
  height: 1px;
  margin: 30px 0 20px;
}

.footer-credit {
  text-align: center;
}
.footer-credit p {
  font-size: 14px;
  margin-bottom: 0;
  color: var(--lightGrey);
}

.footer-credit p a {
  color: #fff;
  font-weight: 600;
}

@media screen and (max-width: 980px) {
  .footer {
    padding: 40px 20px 20px;
  }

  .footer .footer-heading p {
    color: #fff;
    font-size: 19px;
    font-weight: 700;
  }

  .footer-about {
    padding-right: 0px;
    margin-bottom: 40px;
  }

  .footer-logo p {
    margin-bottom: 0;
  }

  .footer-other-apps {
    margin-bottom: 40px;
  }

  .footer-contact {
    margin-bottom: 30px;
  }

  .footer-contact span {
    color: #fff;
    font-weight: 500;
  }

  .social-links {
    margin-top: 20px;
  }

  .footer-social a {
    color: var(--lightGrey);
    font-size: 22px;
    margin-right: 15px;
  }

  .footer-divider {
    background-color: #001e47;
    height: 1px;
    margin: 30px 0 20px;
  }

  .footer-credit {
    text-align: center;
  }
  .footer-credit p {
    font-size: 14px;
    margin-bottom: 0;
    color: var(--lightGrey);
  }

  .footer-credit p a {
    color: #fff;
    font-weight: 600;
  }
}
