* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main: #0c416d;
  --grey: #3e4d61;
  --green: #39b38e;
  --lightGrey: #d4d4d4;
  --green2: #6ab7b7;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.header {
  height: 100vh;
  background: url(../images/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

.top-section {
  padding: 100px 25% 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-section .top-text {
  color: #fff;
  text-align: center;
}

.top-section .top-text p:nth-child(1) {
  font-size: 50px;
  font-weight: 700;
}

.top-section .top-text p:nth-child(2) {
  font-size: 18px;
  font-weight: 500;
}

.top-section .top-btn {
  text-align: center;
  margin-top: 35px;
}

.top-section .top-btn a {
  background-color: var(--green);
  color: #fff;
  border-radius: 99px;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 500;
}

/* end top section */

/* end header */

/* offer */

.offer {
  margin-top: 50px;
  padding: 0 10%;
  text-align: center;
}

.offer p {
  margin-bottom: 5px;
}

.offer-top {
  text-align: center;
  margin-bottom: 40px;
}

.offer-top p:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  color: var(--main);
}

.offer-top p:nth-child(2) {
  font-size: 40px;
  font-weight: 700;
  color: var(--grey);
}

.offer-icon {
  margin-bottom: 25px;
}

.offer-icon img {
  width: 70%;
}

.offer-text {
  color: var(--grey);
}

.offer-text p:nth-child(1) {
  font-size: 22px;
  font-weight: 700;
}

/* end offer */

/* post add */

.add {
  margin-top: 50px;
  padding: 40px;
  background: linear-gradient(
    45deg,
    rgb(23, 48, 117) 39%,
    rgba(3, 145, 186, 1) 100%
  );
  color: #fff;
}

.add .row {
  align-items: center;
}

.add-text-section {
  text-align: center;
}

.add-text-section p {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.add-text-section a {
  color: #fff;
  background-color: var(--green);
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
}

.add-image-section {
  text-align: center;
}

.add-image-section img {
  width: 75%;
}

/* end post add */

/* student add */

.student-add {
  padding: 50px;
  background-color: #e9eff4;
}

.student-add-top {
  text-align: center;
  margin-bottom: 20px;
}

.student-add-top p {
  font-size: 40px;
  color: var(--grey);
  font-weight: 700;
}

.swiper-slide {
  padding: 20px 5px;
  background-color: #eee !important;
  border-radius: 5px;
}

.student-add-block {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgb(185, 185, 185);
}

.student-add p {
  margin-bottom: 5px;
}

.student-add .subject {
  font-size: 20px;
  font-weight: 700;
  color: rgb(194, 110, 31);
}

.student-add .price {
  font-size: 18px;
  font-weight: 700;
  color: var(--green);
}

.student-add .add-subjects {
  margin: 2px 0;
}

.student-add .add-subjects span {
  font-size: 15px;
  color: #3e4d61;
  border: 1px solid #4e6585;
  border-radius: 3px;
  padding: 2px 7px;
}

.student-add .description {
  color: var(--grey);
}

.student-add-button {
  margin: 15px 0 10px;
}

.student-add-button a {
  color: #fff;
  background-color: var(--green2);
  padding: 3px 15px;
  border-radius: 99px;
  transition: 0.3s linear;
  width: 100%;
}

.student-add-button a:hover {
  width: 100%;
}

.student-add-profile-link {
  display: flex;
  justify-content: space-between;
}

.student-add-profile-link p {
  color: var(--grey);
  font-size: 15px;
  transition: 0.2s linear;
  padding-left: 4px;
}

.student-add-profile-link a {
  text-decoration: underline;
  color: var(--grey);
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  margin-bottom: 30px;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end student add */

/* teachers */

.teachers {
  padding: 80px 50px;
}

.teachers-top {
  width: 70%;
  margin: auto;
  text-align: center;
}

.teachers-top p:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
  color: var(--main);
  margin-bottom: 0%;
}
.teachers-top p:nth-child(2) {
  font-weight: 700;
  font-size: 40px;
  color: var(--grey);
  margin-bottom: 5px;
}
.teachers-top p:nth-child(3) {
  font-size: 18px;
  color: #727272;
}

.teachers-column {
  padding: 8px !important;
}

.teacher-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  /* border: 1px solid #a3a3a3; */
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgb(185, 185, 185);
}

.teacher-block p {
  margin-bottom: 2px;
}

.teacher-image {
  margin-right: 5px;
  text-align: center;
  width: 35%;
}

.teacher-image img {
  width: 90%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.teacher-information {
  width: 65%;
}
.teacher-information a {
  color: var(--grey) !important;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s linear;
}

.teacher-information a:hover {
  color: var(--green) !important;
}

.teacher-information p:nth-child(2) {
  color: var(--main);
  font-weight: 700;
  font-size: 16px;
}

.teacher-information p:nth-child(3) {
  color: #555555;
  font-size: 15px;
}

.teacher-btn {
  text-align: center;
  margin-top: 70px;
}

.teacher-btn a {
  color: #fff;
  background: var(--green);
  font-size: 18px;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 4px;
}

/* end teachers */

/* numbers */

.numbers {
  background: #239fc5;
  color: #fff;
}

.number-text-section-inner {
  padding: 0 30px;
}

.numbers-top {
  margin: 40px 0;
}

.numbers-top p:nth-child(1) {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}

.numbers-block {
  padding: 0 !important;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.numbers-block p {
  margin-bottom: 0;
  letter-spacing: 1.1px;
}
.numbers-block i {
  font-size: 50px;
  margin-right: 25px;
}

.numbers-block .numbers-text p:nth-child(1) {
  font-size: 40px;
  font-weight: 700;
}

.numbers-block .numbers-text p:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
}

.number-section {
  padding: 0 !important;
}

.numbers-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end numbers */

/* reviews */

.reviews {
  background-color: #e9eff4;
  padding: 50px 0 30px;
}

.reviews-top {
  text-align: center;
  width: 60%;
  margin: auto;
}

.reviews-top p:nth-child(1) {
  font-size: 40px;
  color: var(--grey);
  font-weight: 700;
  margin-bottom: 10px;
}

.reviews-top p:nth-child(2) {
  color: #727272;
  font-size: 17px;
}

.mySwiper2 {
  width: 100%;
  padding: 25px 0;
}

.swiper-slide.review-slide {
  background-color: #fff !important;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(175, 175, 175);
  /* box-shadow: 0 0 10px 0 rgb(156, 156, 156); */
  padding: 20px;
}

.review-block {
  text-align: center;
  background-color: #fff;
}

.review-text p {
  font-style: italic;
  color: #4e6585;
  font-size: 16px;
  font-weight: 600;
}

.review-separator {
  height: 2px;
  background-color: #112d5f9a;
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}

.review-pic img {
  width: 22%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
}

.review-name p {
  margin: 10px 0 0;
  color: #777;
  font-weight: 600;
}
/* end reviews */

@media screen and (max-width: 980px) {
  .header {
    height: 100%;
  }

  .top-section {
    padding: 50px 2% 0;
  }

  .top-section .top-text p:nth-child(1) {
    font-size: 35px;
  }

  .top-section .top-text p:nth-child(2) {
    font-size: 16px;
  }

  .top-section .top-btn {
    text-align: center;
    margin: 50px 0;
  }

  /* end top section */

  /* end header */

  /* offer */

  .offer {
    padding: 0 2%;
  }

  .offer-top p:nth-child(1) {
    font-size: 18px;
  }

  .offer-top p:nth-child(2) {
    font-size: 30px;
  }

  /* end offer */

  /* post add */

  .add {
    margin-top: 50px;
    padding: 10px;
  }

  .add-text-section {
    margin-bottom: 40px;
  }

  .add-text-section p {
    font-size: 24px;
  }

  .add-image-section {
    margin-bottom: 20px;
  }

  /* end post add */

  /* student add */

  .student-add {
    padding: 50px 10px;
  }

  .student-add-top {
    margin-bottom: 0px;
  }

  .student-add-top p {
    font-size: 30px;
  }

  /* end student add */

  /* teachers */

  .teachers {
    padding: 60px 10px;
  }

  .teachers-top {
    width: 100%;
  }

  .teachers-top p:nth-child(1) {
    font-size: 17px;
  }

  .teachers-top p:nth-child(2) {
    font-size: 32px;
  }
  .teachers-top p:nth-child(3) {
    font-size: 17px;
  }

  .teacher-image {
    width: 90%;
  }

  /* end teachers */

  /* numbers */

  .number-text-section-inner {
    padding: 0 0px;
  }

  .numbers-top {
    margin: 40px 10px;
  }

  .numbers-top p:nth-child(1) {
    font-size: 30px;
  }

  .numbers-block {
    margin-bottom: 40px;
  }

  .numbers-block p {
    letter-spacing: 1px;
  }
  .numbers-block i {
    font-size: 40px;
    margin-right: 10px;
  }

  .numbers-block .numbers-text p:nth-child(1) {
    font-size: 25px;
  }

  .numbers-block .numbers-text p:nth-child(2) {
    font-size: 16px;
  }

  /* end numbers */

  /* reviews */

  .reviews {
    padding: 50px 10px 30px;
  }

  .reviews-top {
    width: 100%;
  }

  .reviews-top p:nth-child(1) {
    font-size: 30px;
  }

  .reviews-top p:nth-child(2) {
    font-size: 16px;
  }
}
