* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main: #0c416d;
  --grey: #3e4d61;
  --green: #39b38e;
  --lightGrey: #d4d4d4;
  --green2: #6ab7b7;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.profile-page {
  padding: 50px 80px;
}

.profile-top {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.porfile-name p:nth-child(1) {
  font-size: 32px;
  font-weight: 700;
  color: var(--main);
  margin-bottom: 0;
}

.porfile-name p:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  color: var(--green);
}

.notifications .dropdown button {
  background-color: var(--main) !important;
}

.notifications .dropdown button {
  outline: none;
  box-shadow: none;
}

.notifications .dropdown button span {
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -12px;
  right: -12px;
}

.notifications .dropdown .dropdown-menu {
  padding: 0;
  box-shadow: 0 0 10px 0 #929292;
  max-height: 300px !important;
  overflow-y: scroll;
  overflow-x: initial;
  word-wrap: break-word;
  width: 300px;
}

.mark-read {
  text-align: right;
  margin: 5px;
}

.mark-read a {
  font-size: 14px;
  font-weight: 500;
}

.notifications .dropdown .dropdown-menu li {
  border-bottom: 1px solid #c4c4c4;
  word-wrap: break-word;
}

.notifications .dropdown .dropdown-menu li a {
  font-weight: 500;
  color: #525252;
  white-space: inherit;
  padding-top: 10px;
}

.notifications .dropdown .dropdown-menu li a:active {
  background-color: #b1b1b1;
}

.profile-middle > .container-fluid {
  padding: 0;
}

.profile-image img {
  width: 100%;
  border-radius: 10px;
}

.profile-details {
  background-color: #eaf7ff;
  padding: 30px;
  height: 100%;
  border-radius: 10px;
}

.product-details-row {
  display: flex;
  justify-content: space-between;
}

.product-details-row p:nth-child(1) {
  min-width: 150px;
  max-width: 210px;
  margin-right: 15px;
  font-size: 17px;
  font-weight: 600;
  color: #363636;
}

.product-details-row p:nth-child(2) {
  font-size: 17px;
  color: #585858;
}

.product-details-row .links {
  min-width: 160px;
  display: flex;
  justify-content: space-between;
}

.product-details-row .links a {
  color: #585858;
  font-size: 17px;
}

.product-details-row .links a:hover {
  color: var(--green);
}

.message-btn {
  text-align: center;
  margin-top: 10px;
}

.message-btn button {
  background-color: var(--green);
  color: #fff;
  padding: 7px 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 17px;
  border: none;
  box-shadow: 0 0 5px 0 #adadad;
}

.profile-description {
  margin-top: 30px;
}

.profile-description p,
.profile-reviews p {
  margin-bottom: 5px;
}

.profile-description p:nth-child(1) {
  font-size: 28px;
  font-weight: 700;
  color: var(--main);
}

.profile-description p:nth-child(2) {
  font-size: 17px;
  color: var(--grey);
}

.profile-bottom-saperator {
  height: 4px;
  background-color: #28689c;
  border-radius: 99px;
  width: 30%;
  margin: 50px auto;
}

.profile-add-top {
  margin: 20px 0;
}

.profile-add-top p {
  font-size: 28px;
  font-weight: 700;
  color: var(--main);
}

.add-block-outer {
  padding: 7px;
}

.profile-add-block {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgb(185, 185, 185);
}

.profile-add p {
  margin-bottom: 5px;
}

.profile-add .subject {
  font-size: 20px;
  font-weight: 700;
  color: rgb(194, 110, 31);
}

.profile-add .price {
  font-size: 18px;
  font-weight: 700;
  color: var(--green);
}

.profile-add .description {
  color: var(--grey);
}

.profile-add-button {
  margin: 15px 0 10px;
}

.profile-add-button a {
  color: #fff;
  background-color: var(--green2);
  padding: 3px 15px;
  border-radius: 99px;
  transition: 0.3s linear;
  width: 100%;
}

.profile-add-button a:hover {
  width: 100%;
}

.profile-add-profile-link p {
  color: var(--grey);
  font-size: 15px;
  transition: 0.2s linear;
  padding-left: 4px;
}

.profile-add-profile-link a {
  text-decoration: underline;
  color: var(--grey);
}

.reviews-top {
  font-size: 28px;
  font-weight: 700;
  color: var(--main);
  margin-bottom: 40px;
}

.review-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-name p:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
  margin-right: 10px;
  color: #086d4f;
}

.review-name p:nth-child(2) {
  color: #575757;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 15px;
}

.review-text p {
  color: #444444;
  font-size: 17px;
}

.review-saperator {
  height: 1px;
  background: #bdbdbd;
  width: 100%;
  margin: 40px auto;
}

.write-review {
  margin-top: 80px;
}

.review-input textarea {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #888888;
  /* height: 100px; */
}

.review-input textarea:focus {
  border-bottom: 2px solid var(--green);
}

.review-btn {
  text-align: right;
  margin-top: 20px;
}

.review-btn button {
  background: var(--green);
  color: #fff;
  font-weight: 600;
  padding: 8px 30px;
  border: none;
  border-radius: 4px;
}

@media screen and (max-width: 980px) {
  .profile-page {
    padding: 20px;
  }

  .porfile-name p:nth-child(1) {
    font-size: 25px;
  }

  .porfile-name p:nth-child(2) {
    font-size: 18px;
  }

  .profile-details {
    padding: 10px;
    margin-top: 15px;
  }

  .product-details-row p:nth-child(1) {
    font-size: 16px;
  }

  .product-details-row p:nth-child(2) {
    font-size: 16px;
  }

  .message-btn {
    text-align: center;
    margin: 10px 0;
  }

  .message-btn button {
    font-size: 16px;
  }

  .profile-description p:nth-child(1) {
    font-size: 22px;
  }

  .profile-description p:nth-child(2) {
    font-size: 15px;
  }

  .profile-add-top {
    margin: 10px 0;
  }

  .profile-add-top p {
    font-size: 24px;
  }

  .add-block-outer {
    padding: 10px 0px;
  }

  .profile-add .subject {
    font-size: 18px;
  }

  .profile-add .price {
    font-size: 17px;
  }

  .reviews-top {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .review-name {
    margin-bottom: 5px;
  }

  .review-name p:nth-child(1) {
    font-size: 17px;
  }

  .review-name p:nth-child(2) {
    font-size: 14px;
  }

  .review-text p {
    font-size: 15px;
  }

  .review-saperator {
    margin: 20px auto;
  }
}
